body
  font-family 'Lato', 'Helvetica Neue', Helvetica, arial, sans-serif
  color #444
  margin 0
  .page
    background #fff
    header.page-header
      width 48em
      max-width 100%
      padding 9em 0 2em
      margin 0 auto
      h1
        cursor pointer
        float left
